body {
    background: #E1FFBB url(/images/tree.png) no-repeat;    
}
#navigation {
    list-style: none;
}
#navigation li {
    position: relative;
    right: -10px;
}
#subheader {
    text-align: center;
}
#subheader h2 {
    margin-bottom: 0;
}
#subheader2 {
    text-align: center;
}
