iframe{display:none;}/*Hide legacy tracking iframe*/
form{margin:0 !important;height:100%;}/* eliminate unnecessary margin, and deal with absolutely positioned footers on password page. */
.otherWeb { margin:10px 320px 0 0; padding-left: 14px; }
.LeftGradient { background-image: url(http://images.theknot.com/PWP/2008Redesign/leftGradient.png); }
.RightGradient { background-image: url(http://images.theknot.com/PWP/2008Redesign/rightGradient.png); }

#pwp_pagecontainer 
{
	width: 952px;
}
img {
	border: 0;
}
.left {
	float: left;
}
.clear
{
	clear: both;
	height: 1px;
	width: 1px;
	padding: 0px;
	margin: -2px 0px 0px 0px;
	overflow: hidden;
	line-height: 1px;
	font-size: 1px;
	/* display: block; */
}

#pageContainer {
	width: 764px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* AddThis */
#bookmark_share {
	position: absolute;
}
#bookmark_share, .addthis, .addthis:hover 
{
	font-family: arial;
	font-size: 11px;
}
.addthis {
	text-decoration: none;
	text-transform: uppercase;
}
.addthis:hover {
	text-decoration: underline;
	text-transform: uppercase;
}

#navLeft{height:auto !important;margin-bottom:60px !important;}

.warning
{
    color: #ff7b7b;
    display:block;
    text-align:left;
    font:normal 10px Arial,sans-serif;
}
.field .warning{position:absolute;}/* For validation error messages in the initial search fields */
.radio-container{height:15px !important;border:1px solid #fff;overflow:hidden;}
.radio .warning{text-align:center;display:block;}
input.button{border:0 !important;}/* Input buttons should not have a border, unlike input texts */

.separator{height:1px;background-color:transparent;background-repeat:repeat-x;background-position:top left;}/* Dotted rule used throughout all templates. Actual image used is governed in theme's CSS*/

#text_date {
	float: none;
}
.contentText p, #formNoMatch p {
	padding-top: 0;
	padding-bottom: 10px;
	margin: 0;
}
.contentTextOutput{margin-bottom:15px;}
.richText{font:normal 12px Arial,sans-serif;}
.contentImg {
	padding-bottom: 25px !important;
	width: auto;
	height: auto;
	padding-right: 20px;
	float: none;
}
.contentText {
	float: none;
	width: auto;
	padding-right: 20px;
	padding-top: 0 !important;
}
.contentText ul {
	padding-top: 0;
	margin-top: 0;
}
a.onstate:link, a.onstate:visited {
	color: inherit;
	text-decoration: underline;
	font-size: inherit;
}
h3 {
	display: block;
	margin-bottom:10px !important;
}

/*Photo Album Guest View*/
.photo_album .btn_start_slideshow{margin:0 auto 30px auto;display:block;}
.photo_album .thumb{float:left;margin:0;width:115px;height:115px;}
.photo_album .thumb a{display:block;float:left;}
.photo_album .thumb img{display:block;}

.modalPopup{left:50%;margin-left:-330px;}
.modalContent{font:normal 12px Arial,sans-serif;padding:20px 50px !important;}
.modalContent .counter,
.modalContent .paging a{font-weight:bold;color:#999;text-decoration:none;}
.modalContent .counter{float:left;}
.modalContent .paging{float:right;}
.modalContent .paging .prev{background:transparent url(http://images.theknot.com/pwp/2008Redesign/ico_left_arrow.gif) no-repeat left 2px;padding-left:8px;margin-right:10px;}
.modalContent .paging .next{background:transparent url(http://images.theknot.com/pwp/2008Redesign/ico_right_arrow.gif) no-repeat right 2px;padding-right:8px;}
.modalContent .main_image{display:block;clear:both;padding-top:5px;margin:0 auto;}
.modalContent p{width:500px;color:#000;}

/*RSVP*/
#divRSVPPage .field{float:left;margin:0 15px 15px 0;}
#divRSVPPage .field input{width:140px;vertical-align:middle;}
#divRSVPPage .btnSubmit{clear:both;margin:10px auto;}

#formNoMatch p.intro{margin-top:1em;}
.formRSVPInfo{border:1px solid #ccc;background:#fff;font-size:11px;color:#666 !important;}
.formRSVPInfo th,
.formRSVPInfo .th td{font:bold 11px Arial,sans-serif;background:#ddd;vertical-align:bottom;padding:2px 0;text-align:center;color:#000;}
.formRSVPInfo th.formName,
.formRSVPInfo th.formEmail,
.formRSVPInfo td.formName,
.formRSVPInfo td.formEmail{width:155px;}
.formRSVPInfo td{text-align:center;padding-top:5px;vertical-align:top;}
.formRSVPInfo td.formName_Email{padding-left:5px;}
.formRSVPInfo .entree select{width:130px;}
/*.formRSVPInfo .field{margin-right:5px;}*/
.formRSVPInfo input,
.formRSVPInfo select{margin:0;border:1px solid #ccc;font-size:11px;display:block;padding:0;margin:0 auto;}
.formRSVPInfo input{width:150px;}
.formRSVPInfo .radio{}
.formRSVPInfo .radio input{display:inline !important;margin:0 1px 2px 1px;width:auto !important;border:none;}
.formRSVPInfo .radio label{display:none;}
.formRSVPInfo .lastRow td{padding-bottom:5px;}/*Add a padding just to the bottom row of the table*/

/* Our Registry */
#RegistryList {
	width: 365px;
	padding-left: 50px;
	margin: 20px 0;
}
#RegistryList ul {
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	text-align: center;
}
#RegistryList ul li 
{
	padding: 16px 0 14px 0;
}
#formNoMatch 
{
	margin-top: 15px; 
	padding: 0;
	border-width:0 !important;
}

/*Guest Book*/
.guest_book_form label,
.guest_book_form input,
.guest_book_form textarea{display:block;}
.guest_book_form input,
.guest_book_form textarea{border:1px solid #666;margin-bottom:10px;}

.guest_book_entries{margin-top:15px;}
.guest_book_entries .divGuestbookMsg{padding-top:15px;}
.guest_book_entries .divFromLabelAndDate{text-align:right;margin:15px 0;}
.guest_book_entries .divFromLabelAndDate .divFromDate{color:#999;font:normal 11px Arial,sans-serif;}
.guest_book_entries .divFromLabelAndDate .remove a{color:#999;font:normal 11px Arial,sans-serif;background:transparent url(http://media.theknot.com/pwp/2008Redesign/bg_remove_image_transparent.png) no-repeat left 4px;padding-left:10px;}
.guest_book_entries .divFromLabelAndDate .remove a:hover{text-decoration:none !important;}
.guest_book_entries .divFromLabelAndDate .divFromDate{font-style:oblique;}

/* Footer */

#footer { background-color: #aeadad; width: 750px; height: 30px; }
#footer img{display:block;}

/* Login */
body{margin:0;padding:0;}
.pwpLoginContainer{width:100%;height:100%;background-color:#d8d6d6;font:normal 16px Arial,sans-serif;color:#999;text-align:center;}
.pwpLoginContainer .inner{width:750px;background-color:#fff;margin:0 auto;text-align:left;height:100%;}
.pwpLoginContainer .inner p{margin:0;padding:145px 133px 30px 133px;}
.pwpLoginContainer .inner .error{color:#f58023;margin:15px 225px 10px 225px;font-size:14px;}
.pwpLoginContainer .inner .form{background:#ebf4fb;margin:0 133px;padding:20px;color:#666;}
.pwpLoginContainer .inner .form p{padding:0 0 15px 0;font-size:20px;}
.pwpLoginContainer .inner .form input.text{display:block;float:left;border:none;width:288px;height:22px;background:transparent url(http://images.theknot.com/PWP/2008Redesign/bg_textarea_login.gif) no-repeat top left;}
.pwpLoginContainer .inner .form input.button{display:block;float:left;margin-left:10px;}
.pwpLoginContainer .inner #bottomFooter{position:absolute;bottom:0;}

/* Global Edit This Page Button */

#editThisPage {
    width: 190px;
    height: 35px;
    margin: 10px auto 20px auto;  
    font-size: 14px;  
    font-family: Arial;
    font-weight: bold;
}

#editThisPage a {
    background-image: url(../Images/transp_editpgbtn_off.png);
    width: 190px;
    height: 35px;
    color: #ffffff;
    display: block;
    margin: 10px auto 20px auto; 
    line-height: 35px; 
    text-decoration: none; 
    cursor: pointer;
}

#editThisPage a:hover {
    background-image: url(../Images/transp_editpgbtn_on.png);
    width: 190px;
    height: 35px;
    color: #999999;
    display: block;
    margin: 10px auto 20px auto; 
    line-height: 35px;
    text-decoration: none;
}

