{% extends "base.html" %}

{% block title %}About Us - Nate and Paige's Wedding{% endblock %}

{% block style %}
#aboutus {
  background: url(/images/aboutus_u.png) no-repeat;
}
{% endblock %}

{% block content %}
<h3>How We Met</h3>
<p>Paige and Nate first laid eyes on each other (we think) in grade school when Nate booed Paige's song and dance performance in their grade school talent show.  Nate re-entered Paige's life about eight years later when he joined her swim team.  Nate fell in love with the Friedman family. Paige and he soon became close friends.  Paige always thought Nate was a handsome older boy, completely out of her league.  Nate came over every Thursday night for about six years before he finally noticed that Paige was all grown up.  They started dating in April of 2006 and have been inseparable ever since.</p>

<h3>About the groom</h3>
<p>Nate grew up all over the place with his military family. His mother and father met and married at the United States Air Force Academy, and served for many years.  Nate is the oldest child with two younger sisters Rachel, and Madeline.  He finally settled in St. Louis after graduating from Saint Louis University in 2006.  Nate is now the proud owner of a loft on Washington Avenue, two black dogs, and all the hand-me-down furniture you can imagine.  He writes software at a dotcom-turned-consultancy, <a href="http://www.asolutions.com" target="_blank">Asynchrony Solutions Inc.</a> The office is just two blocks from his house. There, he plays a lot of Halo, has met some of his best friends, and still manages to squeeze some work in between.</p>

<h3>About the bride</h3>
<p>Paige was born and raised in Belleville, IL with her mom, dad, and older sister Erin.  She graduated from Cor Jesu High School in 2006, where she met most of her best friends.  She is on-track to graduate from Saint Louis University this May with a B.A. in Social Work and a Master's degree in another year's time. In addition to classes, Paige works as a hospice social worker and spends the rest of her time hanging out with Nate.  Paige (and Nate) can't wait to move up to Minnesota soon after they get married...skiing, camping, and all those lakes are calling to the nature-lovers in both of them <i>(plus, they kind of like the idea of eating Paige's mom's cooking whenever they want)</i>.</p>

{% endblock %}
