<html>
  <head>
    <title>{% block title %}Nate and Paige's Wedding{% endblock %}</title>    
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"/>
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <link rel="stylesheet" href="css/base.css" type="text/css"/>
    <link rel="stylesheet" href="css/lightbox.css" type="text/css"/>
    <script type="text/javascript" src="js/prototype.js"></script>
    <script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="js/lightbox.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAQ5-89iTkCM_4TiVH89FIxBSa14s3cBljQTLGvwxtdr0IvuqfTRScnLRBZAWaS0N0UYXLTgrYigsOHw&sensor=false"></script>
    <script type="text/javascript" src="js/wedding.js"></script>
    <style type="text/css">
      {% block style %}
      {% endblock %}
    </style>
    <script type="text/javascript">
      document.observe("dom:loaded", function(event) {
      // set the text for days until the wedding
      countdown();

      // setup the menu rollover/rollout underlining
      //wireUpMenu();

      {% block script %}
      {% endblock %}

      });
    </script>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24 last">
	<img src="images/treetop.png"/>
	<div id="subheader" class="span-24 last">
	  <h2>Paige Friedman & Nate Young</h2>
	</div>
	<div id="subheader2">
	  <h4><span id="big_day">June 12, 2010</span> - <span id="days_to_go"></span></h4>
	</div>
      </div>
      <div id="left" class="span-5">
	<ul id="navigation">
	  <li id="welcome"><a href="welcome.html">welcome</a></li>
	  <li id="aboutus"><a href="aboutus.html">about us</a></li>
	  <li id="ourproposal"><a href="ourproposal.html">our proposal</a></li>
	  <li id="ceremony"><a href="ceremony.html">ceremony</a></li>
	  <li id="reception"><a href="reception.html">reception</a></li>
	  <li id="weddingparty"><a href="weddingparty.html">wedding party</a></li>
	  <li id="registry"><a href="registry.html">registry</a></li>
	  <li id="guestinformation"><a href="guestinformation.html">guest information</a></li>
	  <li id="photoalbum"><a href="photoalbum.html">photo album</a></li>
	  <li id="guestbook"><a href="guestbook.html">guest book</a></li>
	  <li id="honeymoon"><a href="honeymoon.html">honeymoon</a></li>
	</ul>
      </div>
      <div id="content" class="span-14">
	<div class="span-14">
	  {% block content %}{% endblock %}
	</div>
      </div>
      <div id="right" class="span-5 last">
      </div>
    </div>
  </body>
</html>
