<html>
  <head>
    <title>{% block title %}Nate and Paige's Wedding{% endblock %}</title>    
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"/>
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <link rel="stylesheet" href="css/base.css" type="text/css"/>
    <link rel="stylesheet" href="css/lightbox.css" type="text/css"/>
    <script type="text/javascript" src="js/wedding.js"></script>
    {% block scripttags %}
    {% endblock %}

    <style type="text/css">
      {% block style %}
      {% endblock %}
    </style>

    <script type="text/javascript">
      document.observe("dom:loaded", function(event) {
      // set the text for days until the wedding
      countdown();

      {% block ondomload %}
      {% endblock %}

      });
    </script>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24 last">
	<img src="images/treetop.png"/>
	<div id="subheader" class="span-24 last">
	  <h2>Paige Friedman & Nate Young</h2>
	</div>
	<div id="subheader2">
	  <h4><span id="big_day">June 12, 2010</span> - <span id="days_to_go"></span></h4>
	</div>
      </div>
      <div id="left" class="span-5">
	<ul id="navigation">
	  <li><a id="welcome" href="welcome.html"><span>welcome</span></a></li>
	  <li><a id="aboutus" href="aboutus.html"><span>about us</span></a></li>
	  <li><a id="ourproposal" href="ourproposal.html"><span>our proposal</span></a></li>
	  <li><a id="ceremony" href="ceremony.html"><span>ceremony</span></a></li>
	  <li><a id="reception" href="reception.html"><span>reception</span></a></li>
	  <li><a id="weddingparty" href="weddingparty.html"><span>wedding party</span></a></li>
	  <li><a id="registry" href="registry.html"><span>registry</span></a></li>
	  <li><a id="guestinformation" href="guestinformation.html"><span>guest information</span></a></li>
	  <li><a id="photoalbum" href="photoalbum.html"><span>photo album</span></a></li>
	  <li><a id="guestbook" href="guestbook.html"><span>guest book</span></a></li>
	  <li><a id="honeymoon" href="honeymoon.html"><span>honeymoon</span></a></li>
	</ul>
      </div>
      <div id="content" class="span-14">
	<div class="span-14">
	  {% block content %}{% endblock %}
	</div>
      </div>
      <div id="right" class="span-5 last">
      </div>
    </div>
  </body>
</html>
