<html>
  <head>
    <title>{% block title %}Nate and Paige's Wedding{% endblock %}</title>    
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"/>
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <link rel="stylesheet" href="css/base.css" type="text/css"/>
    <link rel="stylesheet" href="css/lightbox.css" type="text/css"/>
    <script type="text/javascript" src="js/prototype.js"></script>
    <script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="js/lightbox.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2key=ABQIAAAAQ5-89iTkCM_4TiVH89FIxBSa14s3cBljQTLGvwxtdr0IvuqfTRScnLRBZAWaS0N0UYXLTgrYigsOHw&sensor=false"></script>
    <script type="text/javascript" src="js/wedding.js"></script>
    <style type="text/css">
      {% block style %}
      {% endblock %}
    </style>
    <script type="text/javascript">
      {% block script %}
      {% endblock %}
    </script>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24 last">
	<img src="images/treetop.png"/>
      </div>
      <div id="left" class="span-5">
	<ul id="navigation">
	  <li><a href="welcome.html"><img src="images/welcome.png"/></a></li>
	  <li><a href="aboutus.html"><img src="images/about_us.png"/></a></li>
	  <li><a href="ourproposal.html"><img src="images/our_proposal.png"/></a></li>
	  <li><a href="ceremony.html"><img src="images/ceremony.png"/></a></li>
	  <li><a href="reception.html"><img src="images/reception.png"/></a></li>
	  <li><a href="weddingparty.html"><img src="images/wedding_party.png"/></a></li>
	  <li><a href="registry.html"><img src="images/registry.png"/></a></li>
	  <li><a href="guestinformation.html"><img src="images/guest_information.png"/></a></li>
	  <li><a href="photoalbum.html"><img src="images/photo_album.png"/></a></li>
	  <li><a href="guestbook.html"><img src="images/guest_book.png"/></a></li>
	  <li><a href="honeymoon.html"><img src="images/honeymoon.png"/></a></li>
	</ul>
      </div>
      <div id="content" class="span-14">
	<div id="subheader" class="span-14 last">
	  <h2 class="span-14 last">Paige Friedman & Nate Young</h2>
	</div>
	<div id="subheader2">
	  <h4><span id="big_day">June 12, 2010</span> - <span id="days_to_go">258 days to go!</span></h4>
	</div>
	<div class="span-14">
	  {% block content %}{% endblock %}
	</div>
      </div>
      <div id="right" class="span-5 last">
	<img src="images/treeright.png"/>
      </div>
    </div>
  </body>
</html>
