{% extends "directions.html" %}

{% block title %}Ceremony - Nate and Paige's Wedding{% endblock %}

{% block style %}
#ceremony {
  background: url(/images/ceremony_u.png) no-repeat;
}
{% endblock %}

{% block ondomload %}
populateMap(38.6040590, -89.9752430, 13, "505 Fountains Pkwy, Fairview Heights, IL 62208");
{% endblock %}

{% block topcontent %}
<div class="span-14 push-3 last">
  <img src="images/ChurchInt_Sanctuary.JPG"/>
</div>

<div class="span-14 last">
  <h3>Church Information</h3>
  <p>
    Picking the church we would get married in was our first step in planning our wedding. We quickly decided that Paige's childhood parish would be the site of our special day. As luck would have it, Paige's parish recently bought new land and constructed a beautiful new church that will be perfect for our wedding. The wedding will be at Holy Trinity Catholic Church in Fairview Heights, Illinois. The ceremony will begin at 2pm on June 12, 2010. We can't wait!
  </p>
  <p>
    Holy Trinity Catholic Church has a great website if you want more information.&nbsp; For those with questions about attending a Catholic wedding, please don't hesitate to ask us!
  </p>
  <p>
    <a href="http://www.holytrinityil.org/">Holy Trinity Catholic Church Website</a>
  </p>
</div>
{% endblock %}
