{% extends "base.html" %}

{% block title %}Ceremony - Nate and Paige's Wedding{% endblock %}

{% block style %}
#map_canvas {
  height: 300px;
}
{% endblock %}

{% block script %}
    // populate the google maps
    populateMap(38.6040590, -89.9752430, 13);
{% endblock %}

{% block content %}
<div class="span-14 push-3 last">
  <img src="images/ChurchInt_Sanctuary.JPG"/>
</div>

<div class="span-14 last">
  <h3>Church Information</h3>
  <p>
    Picking the church we would get married in was our first step in planning our wedding. We quickly decided that Paige's childhood parish would be the site of our special day. As luck would have it, Paige's parish recently bought new land and constructed a beautiful new church that will be perfect for our wedding. The wedding will be at Holy Trinity Catholic Church in Fairview Heights, Illinois. The ceremony will begin at 2pm on June 12, 2010. We can't wait!
  </p>
  <p>
    Holy Trinity Catholic Church has a great website if you want more information.&nbsp; For those with questions about attending a Catholic wedding, please don't hesitate to ask us!
  </p>
  <p>
    <a href="http://www.holytrinityil.org/">Holy Trinity Catholic Church Website</a>
  </p>
</div>

<div class="span-14 append-bottom last">
  <h3>Directions</h3>
  <p>
    Click on the marker in the map below for directions.
    <div id="map_canvas" class="span-10"></div>
    <div id="directions_text" class="span-3 last"></div>
  </p>
  <div id="directions_info_window" style="display: none">
    <p>
      <b>Holy Trinity Catholic Church</b>
    </p>
    <p>
      Get directions to here:
      <br/>
      <input type="text"/><input type="submit" value="Go"/>
    </p>
  </div>
</div>
{% endblock %}
