{% extends "base.html" %}

{% block title %}Guest Information - Nate and Paige's Wedding{% endblock %}

{% block style %}
#guestinformation {
  background: url(/images/guestinformation_u.png) no-repeat;
}
{% endblock %}

{% block content %}
<h3>Hotel Accommodations</h3>
<p>We have negotiated a group rate on rooms at the Marriott Residence Inn in downtown St. Louis. The hotel is very nice and only a 5 minute drive from the wedding reception site. If you'd rather not drive, there's a shuttle service to and from Lafayette Square that runs until 11 PM.</p>

<p>We've blocked three types of rooms. Two Bedroom Suites, One Bedroom Suites with 2 Queen Beds, and Studio Suites with 1 Queen bed. All have a single soafabed, and a full kitchen.  If you don't feel like cooking and doing dishes, however, the hotel serves a full breakfast every morning. Also, if you book with the group, hotel parking fees for the duration will be waived.</p>

<p>Each type of suite has a different reservation link below. Just click on the suite type you're interested in booking and you will be taken to the hotel's website. On the right hand side, the special group code should be filled in and you can select which dates, the number of rooms, and the number of people you'd like to book for. If you have a Marriott Rewards number, you may enter that as well. After you've selected all of those things, you can click the “Check Availability” button at the bottom of the screen and it will pull up the rates for our group.</p>

<p><a href="http://www.marriott.com/hotels/travel/STLRD?groupCode=fywfywc&app=resvlink&fromDate=6/11/10&toDate=6/13/10" target="_blank">Two Bedroom Suites</a></p>

<p><a href="http://www.marriott.com/hotels/travel/STLRD?groupCode=fywfywb&app=resvlink&fromDate=6/11/10&toDate=6/13/10" target="_blank">One Bedroom Suites with 2 Queen Beds</a></p>

<p><a href="http://www.marriott.com/hotels/travel/STLRD?groupCode=fywfywa&app=resvlink&fromDate=6/11/10&toDate=6/13/10" target="_blank">Studio Suites with 1 Queen Bed</a></p>

<p>If you're having any trouble at all, please call the hotel, 1-314-289-7500. Renee Moncey has been so helpful to us and we're sure that she'll answer any questions you might have as well!</p>

<hr/>
<h3>Things to do in St. Louis</h3>
<p>St. Louis has a lot to offer for anyone who comes in to town with a few days to spare.  We thought we would include some of our favorite things to do in hopes that you come to love our city as much as we do!</p>

<p>Obviously St. Louis is famous for The Gateway Arch.  If you aren't afraid of heights, taking "The Journey to the Top" is an exciting elevator ride to an observation deck at the top of the Arch.  Please be aware that you may have to buy a ticket two or three hours before your actual ride.  Walking around Laclede's Landing just north of the Arch grounds is a great way to pass the time.  For those of you that don't know, Paige's first job was an Arch tour guide, so she has a special loathing for this famous landmark.</p>

<p>What would St. Louis be without beer and baseball?  Since the Cardinals are out of town this weekend, you should at least catch a brewery tour at Anheuser Busch Brewery in Soulard (just a few minutes south of downtown).  The tasting room at the end is a great end to an interesting tour.</p>

<p>St. Louis Zoo-- We are lucky to have an amazing free zoo in St. Louis.  It is a great place to walk around, and since it is located in Forest Park, you can catch a meal at one of our favorite eateries, The Boathouse in Forest Park.</p>

<p>Need more ideas?  Check out <a href="http://www.explorestlouis.com">www.explorestlouis.com</a> or ask Paige and Nate for more ideas!</p>
{% endblock %}
