{% extends "base.html" %}

{% block title %}Guest Information - Nate and Paige's Wedding{% endblock %}

{% block content %}
<h3>Hotel accommodations</h3>
<div class="contentTextOutput richText">Tell your guests where they can stay.</div>

<h3>Things to do in the area</h3>
<div class="contentTextOutput richText">Tell your guests what they can do in the area.</div>

<h3>Attire or other information</h3>
<div class="contentTextOutput richText">Tell your guests what they can wear to the event.</div>

<h3>Additional information</h3>
<div class="contentTextOutput richText">Tell your guests any additional information you want them to know.</div>
{% endblock %}
