{% extends "base.html" %}

{% block title %}Guest Information - Nate and Paige's Wedding{% endblock %}

{% block style %}
#guestinformation {
  background: url(/images/guestinformation_u.png) no-repeat;
}
{% endblock %}

{% block content %}
<h3>Hotel accommodations</h3>
<p>Tell your guests where they can stay.</p>

<h3>Things to do in the area</h3>
<p>Tell your guests what they can do in the area.</p>

<h3>Attire or other information</h3>
<p>Tell your guests what they can wear to the event.</p>

<h3>Additional information</h3>
<p>Tell your guests any additional information you want them to know.</p>
{% endblock %}
