{% extends "base.html" %}

{% block title %}Guest Book - Nate and Paige's Wedding{% endblock %}

{% block style %}
#guestbook {
  background: url(/images/guestbook_u.png) no-repeat;
}
#guestbookform label {
  display: block;
}
#guestbookform input {
  display: block;
}
#guestbookform textarea {
  display: block;
}
div.fromsignature {
  text-align: right;
}
{% endblock %}

{% block content %}
<h3>Guest book</h3>

<form id="guestbookform" action="/signguestbook" method="post">
  <label>Your name:</label>
  <input name="author" type="text" maxlength="64"/>
  <label>Message:</label>
  <textarea name="message" rows="5" cols="40"></textarea>
  <input type="image" class="button" src="images/btnSubmitGeneric.gif" alt="Submit"/>
</form>

<hr class="prepend-top"/>
{% for greeting in greetings %}
<div class="span-14 last">
  <div class="span-14 last">
    {{ greeting.message|escape|linebreaks }}
  </div>
  <div class="fromsignature span-14 last">
    from:
    <span>
      {{ greeting.author|escape }}
    </span>
    <div class="span-14 last">
      {{ greeting.date|date:"n/j/Y g:i A" }}
    </div>
  </div>
</div>
<hr/>
{% endfor %}
{% endblock %}
