{% extends "base.html" %}

{% block title %}Honeymoon - Nate and Paige's Wedding{% endblock %}

{% block style %}
#honeymoon {
  background: url(/images/honeymoon_u.png) no-repeat;
}
{% endblock %}

{% block content %}
<h3>Our honeymoon</h3>
<p>Nate's parents have made the very generous gift of sending their son and future daughter-in-law to <a href="http://www.sandals.com/main/emerald/em-home.cfm">Sandals Emerald Bay</a> in the Bahamas.</p>

<p><img src="images/emerald_bay_beach.jpg"/></p>

<p>We'll be leaving the Monday after the wedding, June 14th, to fly to Miami.  From there we'll fly into Aruba where we'll be met by a prop plane to take us to the resort as it is on a island too small to hold a full size runway.  We will be staying in the Emerald Bay Village, in a Honeymoon Luxury suite, just a stroll off the crystal clear waters of the Caribbean.</p>

<p><img src="images/emerald_village_suites.png"/></p>

<p>We couldn't be more excited about our honeymoon.  We both wanted a lazy, no worries escape on a beach somewhere in a sunny climate with plenty of sand, water and cool breezes rustling through the palm trees.  We'll be in for all that and more after the wedding.</p>
{% endblock %}
