{% extends "base.html" %}

{% block title %}Our proposal - Nate and Paige's Wedding{% endblock %}

{% block style %}
#dateofp h3 {
  margin-bottom: 0;
}
{% endblock %}

{% block content %}
<div id="dateofp">
  <h3>Date of Proposal</h3>
  <p>
    7/3/2009
  <p>
</div>

<h3>Permission </h3>
<p>
  I asked Paige's father for permission to marry her over Memorial Day weekend.  Paige was out of the country, in Guatemala for two weeks, so even it worked out as the perfect time to sneak up north without her getting too suspicious.
</p>

<p>
  Both her parents were thrilled, and while up there we decided the best day to ask her would be Friday, July 3rd, as the whole family was coming back to St. Louis from Florida. That left me with a month to pick out a ring.
</p>

<h3>The Ring</h3>
<p>
  I picked out a ring the first week I got back from Minnesota. Mike Fischer of Adler's Diamonds helped me pick out a stunning diamond and let me design an individual, custom ring for Paige.  The ring came the very same Tuesday that Paige and her family were due back from Florida.
</p>

<p>
  I picked it up on my way to the airport and hid it -- very cleverly, I thought -- in first aid kit strapped to the inside of my Xterra's trunk door.  I met the Friedman's at the airport, only to find that Paige was sick!  On the ride home, with her whole family's luggage sitting just inches away from where I had hidden the engagement ring, her father, the organ transplant coordinator at University of Minnesota, called around town trying to book Paige a swine flu vaccination shot.
</p>

<p>
  She was barely-able-to-move-from-the-couch sick until Thursday of that week.  Late Thursday she had recovered enough to have dinner at her sister's and Friday she was comfortably recovered, though still with a harsh enough cough to make me consider how a proposal on bended knee in front of a couch would look.
</p>

<p>
  There was a free Counting Crows concert under the Arch, and for the month after Paige had returned home from Guatemala I used it as an excuse to book reservations for a nice dinner and head over the Arch grounds afterwards.  As far as Paige knew, I was just really excited to hear "Mr. Jones" played live and had decided to make a date of it.
</p>

<h3>The Morning Of</h3>
<p>
  Friday morning, Paige settled in to spend the rest of the day reading a book and recovering from a week of being sick. I made a pathetically transparent excuse to get out of the house and snuck the ring out of its boardgame hiding-box in my closet and drove it over to Vin de Set.
</p>

<p>
  I met with the manager, he was very gregarious, like a proud uncle, and had me explain how I wanted things to go later in the evening.  I told him that I would like our waiter to bring the ring over after dinner, but before dessert. I told him that I didn't like the idea of putting it in food or champange, but would prefer the waiter to just pass it to me as discreetly as possible. My nerves, after a month of making plans were already pretty frayed, so I figured having as simple a plan as possible would see me through and expose my love to her better than an elaborate show.
</p>

<p>
  I bought a new shirt to wear to dinner, I put on my best pair of jeans and Paige wore a light black summer dress. Vin de Set is a rooftop restaurant and we were seated right up against the edge, with the best view of the city and the Arch to the East.
</p>

<h3>The Question</h3>
<p>
  A drop or two of rain would fall every so often making me really nervous. A few customers retreated to the back of the restaurant's deck to tent-covered tables. I asked Paige what must have been a dozen times if the rain was ruining her meal and if she wanted to move. Each time, as calm as can be, she told me that she was comfortable and didn't want to move. She was enjoying her night.
</p>

<p>
  After we finished our meal my head was swiveling like a merry-go-round looking for someone carrying a ring box and heading my direction. The manager had assured me that he wrote down instructions for our waitress, but as attentive as she was, her and I had exchanged no secret system of winks or whispers. I had pictured the waiter slyly palming my ring box and Ocean's Eleven-style passing it behind her back to me as I walked towards my girlfriend, and in the same motion getting down on one knee, looking up and opening the lid to showcase the prize inside. That is not what happened.
</p>

<p>
  After Paige and I finished eating, he waitress boxed up our food and brought it back in a brown bag. Right on top of the two leftover boxes but still well hidden in the bag, was the ring.  I pulled the bag just a little closer to my side of the table and read Paige my note.
</p>

<p>
  For big holidays like Birthdays and Valentine's day, Paige started a tradition in which we would write and give letters to each other.  This was pretty big and I wanted to outline all of the reasons that I loved her so that maybe she would have less reason to say no when I asked her the big question. I was still acting under the assumption that I could do nothing covert in her eyes. I figured that every moment that she didn't point and exclaim what an obvious kludge I was, was merely becuase she enjoyed watching my earnest, bumbling efforts. The last line of the letter read "And though I know so much about you, there's just one question I still want to ask..."
</p>

<p>
  I forgot that Paige reads about twice as fast as I do. So while I was reading to her how the things she likes about me were reflections of the things that I loved about her, she was finishing the letter and thinking to herself that my cliffhanger question was a crappy way to end an otherwise quite charming July 4th love letter.
</p>

<p>
  It was only once I read that line, reached my hand down into the brown bag, and got on one knee in front of her, that her emotions ran across her face. They said that she had misjudged my aim. For a second I saw a look of utter terror. For a second I saw disbelief. And then she clapped her hands to her mouth and by that time I guess I had finished asking her if she would marry me, because she got up from her chair, holding onto it for support with one hand and pulling me up into a hug with another.
</p>

<h3>The Night Ends</h3>
<p>
  There was very much applause coming from behind me, but thankfully I could not be distracted enough to figure out what it was for. Paige said yes and we both had to sit down.
</p>

<p>
  After two glasses of champagne courtesy of the house, our waitress came over to inform us that someone in the restaurant had seen us and been so touched that they had picked up our tab. When we mentioned that we wanted to thank them, the waitress said that they had been clear about wanting to remain anonymous. It's a gesture that, when we are happily married, Paige I hope to be able to repeat.  Kind of neat the traditions that are taking shape as we take our first steps down this path together.
</p>

<p>
  Both of us too were excited to eat any dessert, so we got out of Vin de Set, and drove down to the Mississippi river landing where I had asked her family and friends to gather for a post-pop-the-question party. We went to a rooftop restaurant and bar overlooking the river and the Arch. The rest of the night only exists in my memory as snapshots. There were friends, family, fireworks and lots of Champagne.
</p>

<p>
  I was just overjoyed that the girl of my dreams had actually said that she would marry me.
</p>
{% endblock %}
			  
			  
			  
			  
			  
			  
			  
			</div>
		      </div>
		    </div>
		    <div class="clear">
		    </div>
		  </div>
		</div>
		<div style="clear:both;">
		</div>
		<div id="bottomFooter">
		  <div id="bottom_bg">
		  </div>
		  <div id="footer">
		    <div class="clear">
		    </div>
		  </div>
		</div>
	      </div>
	    </td>
	    <td width="7" align="left" valign="top" class="RightGradient">
	    </td>
	  </tr>
	</table>
      </div>
    </form>
  </body>
</html>
