{% extends "base.html" %}

{% block title %}Photo Album - Nate and Paige's Wedding{% endblock %}

{% block content %}
<div class="thumb">
  <a href="images/med_IMGP7526.jpg" rel="lightbox[photoalbum]" title="The night of the proposal. Nate looks giddy, while Paige still looks slightly confused, but proudly showing her ring and her adoration for Nate.">
    <img src="images/sml_IMGP7526.jpg" align="absmiddle"/>
  </a>
</div>

<div class="thumb">
  <a href="images/med_DH000010.jpg" rel="lightbox[photoalbum]" title="Nate and I love to travel, and we are blessed to have great hosts in Portland (his parents).">
    <img src="images/sml_DH000010.jpg" align="absmiddle"/>
  </a>	
</div>

<div class="thumb">
  <a href="images/med_IMGP6765.jpg" rel="lightbox[photoalbum]" title="An April get-away to Miami with the Friedman family was the perfect mix of rest and excitement.">
    <img src="images/sml_IMGP6765.jpg" align="absmiddle"/>
  </a>
</div>
			      
<div class="thumb">
  <a href="images/med_4210_579615873314_33300039_34547202_6631038_n.jpg" rel="lightbox[photoalbum]" title="Nate has patiently waited for Paige to grow up. This night, her 21st birthday, he was there to celebrate with her!">
    <img src="images/sml_4210_579615873314_33300039_34547202_6631038_n.jpg" align="absmiddle"/>
  </a>
</div>
			      
<div class="thumb">
  <a href="images/med_3022_1113831883963_1171890034_30402623_7142398_n.jpg" rel="lightbox[photoalbum]" title="Out and about...enjoying each others company.">
    <img src="images/sml_3022_1113831883963_1171890034_30402623_7142398_n.jpg" align="absmiddle"/>
  </a>
</div>

<div class="thumb">
  <a href="images/med_IMGP6764.jpg" rel="lightbox[photoalbum]" title="If Paige's mom didn't have photographic inclinations, I don't think we would have any photos of the two of us.">
    <img src="images/sml_IMGP6764.jpg" align="absmiddle"/>
  </a>				
</div>
			      
<div class="thumb">
  <a href="images/med_IMGP6639.jpg" rel="lightbox[photoalbum]" title="Sangria, Paella, flamenco dancing, the Friedmans...AND a restaurant.com gift certificate? We couldn't imagine a more perfect date.">
    <img src="images/sml_IMGP6639.jpg" align="absmiddle"/>
  </a>
</div>
			      
<div class="thumb">
  <a href="images/med_P1050087.jpg" rel="lightbox[photoalbum]" title="This comes from 4th of July 2008. Oh, what a difference a year makes!">
    <img src="images/sml_P1050087.jpg" align="absmiddle"/>
  </a>
</div>
{% endblock %}
