{% extends "base.html" %}

{% block title %}Photo Album - Nate and Paige's Wedding{% endblock %}

{% block scripttags %}
<link rel="stylesheet" href="css/jquery.lightbox-0.5.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/jquery.lightbox-0.5.js"></script>
{% endblock %}

{% block style %}
#photoalbum {
  background: url(/images/photoalbum_u.png) no-repeat;
}
{% endblock %}

{% block ondomload %}
$('a[@rel=lightbox]').lightBox();
{% endblock %}

{% block content %}
{% for section in sections %}
<h3>{{ section.name|escape }}</h3>
<table>
  {% for photos in section.rows %}
  <tr>
    {% for photo in photos %}
    <td>
      <a href="/photoalbum/images/{{ photo.src }}" rel="lightbox" title="{{ photo.title|escape }}">
	<img src="/photoalbum/thumbs/{{ photo.src }}" align="absmiddle"/>
      </a>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endfor %}
{% endblock %}
