{% extends "base.html" %}

{% block title %}Photo Album - Nate and Paige's Wedding{% endblock %}

{% block scripttags %}
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
{% endblock %}

{% block content %}
<table>
  <tr>
    <td>
      <a href="images/IMGP7526.jpg" rel="lightbox[photoalbum]" title="The night of the proposal. Nate looks giddy, while Paige still looks slightly confused, but proudly showing her ring and her adoration for Nate.">
	<img src="images/IMGP7526_thumb.jpg" align="absmiddle"/>
      </a>
    </td>
    <td>
      <a href="images/IMGP1236.jpg" rel="lightbox[photoalbum]" title="Nate and I love to travel, and we are blessed to have great hosts in Portland (his parents).">
	<img src="images/IMGP1236_thumb.jpg" align="absmiddle"/>
      </a>
    </td>
    <td>
      <a href="images/IMGP6765.jpg" rel="lightbox[photoalbum]" title="An April get-away to Miami with the Friedman family was the perfect mix of rest and excitement.">
	<img src="images/IMGP6765_thumb.jpg" align="absmiddle"/>
      </a>
    </td>
    <td>
      <a href="images/IMGP1235.jpg" rel="lightbox[photoalbum]" title="Nate has patiently waited for Paige to grow up. This night, her 21st birthday, he was there to celebrate with her!">
	<img src="images/IMGP1235_thumb.jpg" align="absmiddle"/>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="images/IMGP1234.jpg" rel="lightbox[photoalbum]" title="Out and about...enjoying each others company.">
	<img src="images/IMGP1234_thumb.jpg" align="absmiddle"/>
      </a>
    </td>
    <td>
      <a href="images/IMGP6764.jpg" rel="lightbox[photoalbum]" title="If Paige's mom didn't have photographic inclinations, I don't think we would have any photos of the two of us.">
	<img src="images/IMGP6764_thumb.jpg" align="absmiddle"/>
      </a>
    </td>
    <td>
      <a href="images/IMGP6639.jpg" rel="lightbox[photoalbum]" title="Sangria, Paella, flamenco dancing, the Friedmans...AND a restaurant.com gift certificate? We couldn't imagine a more perfect date.">
	<img src="images/IMGP6639_thumb.jpg" align="absmiddle"/>
      </a>
    </td>
    <td>
      <a href="images/IMGP5087.jpg" rel="lightbox[photoalbum]" title="This comes from 4th of July 2008. Oh, what a difference a year makes!">
	<img src="images/IMGP5087_thumb.jpg" align="absmiddle"/>
      </a>
    </td>
  </tr>
</table>
{% endblock %}
