{% extends "base.html" %}

{% block title %}Reception - Nate and Paige's Wedding{% endblock %}

{% block content %}
<p>
  <img id="_ctl1__ctl0_imgPageMainImage" src="images/ph_sb_history_03.jpg" border="0" />
</p>

<h3>Party Time!</h3>
<p>
  Choosing our reception site was a labor intensive activity. Initially, we knew exactly what we wanted-- an outdoor reception in Paige's aunt's backyard. As we began to get tent assessments and consider St. Louis weather in June, our excitement began to shift to worry. We want each and everyone of our guests to have an amazing time, and a sticky un-air-conditioned tent doesn't seem to promote dancing and merriment. Thus, we readjusted our mental image and went reception site seeking.
</p>
<p>
  Paige knew she wanted a relaxed environment, and Nate knew he wanted good food. Carpeted venues were dismissed, "chicken or beef" menus were trashed, and anyplace with a portrait of the Queen of England hanging on the wall was deemed far too stuffy. At about 9pm on "wedding planning weekend" we finally found the perfect fit. They offered a venue with the perfect mix of unfinished charm and innovative catering (and they served us free wine while we made our decision!).
</p>
<p>
  Our reception will be held at Sqwires Annex in Lafeyette Square. The reception will be cocktail style (no stuffy assigned seating), and the food is a delicious mix of appetizers and smaller sized choices. We assure you there will be enough food to feel full, despite there being no sit down dinner. (Sometime soon we will add a menu to this section so you can see what will be offered.) Food will begin to be displayed at 7pm and the fun should last well into the night. We are so excited to share an amazing celebration with all those we love! Bring your dancing shoes...
</p>

<h3>Driving directions</h3>
<p>
  <a href="http://maps.google.com/maps?client=firefox-a&amp;rls=org.mozilla:en-US:official&amp;channel=s&amp;hl=en&amp;source=hp&amp;um=1&amp;ie=UTF-8&amp;q=sqwires&amp;near=Saint Louis, MO 63106&amp;fb=1&amp;split=1&amp;gl=us&amp;cid=0,0,7405924817677153841&amp;ei=WFegSur0JYSDnQeAsq32BA&amp;sa=X&amp;oi=local_result&amp;ct=image&amp;resnum=1">Click Here</a>
</p>

<h3>Additional information</h3>
<p>
  If you are interested in getting to the reception area early, Lafayette Square offers a lot of great options for you to enjoy as you wait for the evening activites to begin.&nbsp; Below, are a few of our favorites!
</p>

<ul>
  <li>
    The Chocolate Bar: Not only do they have a great outdoor patio, but they have the happiest chocolate martini you could possibly imagine.
  </li>
  <li>
    Square One Brewery: A micro-brewery that eased Paige's fears before she traveled internationally by herself. This place will always hold a special place in our hearts...not to mention their great brewed-in-house beer selection.
  </li>
</ul>
{% endblock %}
