{% extends "base.html" %}

{% block title %}Registry - Nate and Paige's Wedding{% endblock %}

{% block style %}
#registry {
  background: url(/images/registry_u.png) no-repeat;
}
{% endblock %}

{% block content %}
<h3>Registry</h3>
<p>Paige and I have registered at Crate & Barrel and Kohl's.</p>

<p>Simply coming to our wedding will be present enough for Paige and I, as we're very excited to see everyone and share with you our love for each other.</p>

<p>That said, if you would like to bless us with a gift, you can view both our registries online:

<ul>
  <li><a href="http://www.crateandbarrel.com/Gift-Registry/" target="_blank">Crate & Barrel Registry</a></li>
  <li><a href="http://www.kohls.com/upgrade/gift_registry/kohlsgrw_bridal_landing.jsp" target="_blank">Kohl's Registry</a></li>
</ul>

</p>

{% endblock %}
