{% extends "base.html" %}

{% block title %}Registry - Nate and Paige's Wedding{% endblock %}

{% block style %}
#registry {
  background: url(/images/registry_u.png) no-repeat;
}
{% endblock %}

{% block content %}
<h3>Registry</h3>
<p>Paige and I have registered at Crate & Barrel and Kohl's.</p>

<p>Simply coming to our wedding will be present enough for Paige and I, as we're very excited to see everyone and share with you our love for each other.</p>

<p>That said, if you would like to bless us with a gift, you can view both our registries online:

<ul>
  <li><a href="http://www.crateandbarrel.com/Gift-Registry/" target="_blank">Crate & Barrel Registry</a></li>
  <li><a href="http://www.kohls.com/upgrade/gift_registry/kohlsgrw_bridal_landing.jsp" target="_blank">Kohl's Registry</a></li>
</ul>
</p>

<p>Please note that some items may be listed in the registries as unvailable online.  Virtually all of these items are still available in the stores, however, so we haven't removed them from the registries.</p>

<p>We have been asked by some people if we are setting up a honeymoon registry with Sandals.  We are not setting up an official registry, but if anyone was looking forward to doing something special as their gift, please visit the <a href="/honeymoon">honeymoon</a> page for details about our specific resort and a link to their website.</p>

{% endblock %}
