{% extends "base.html" %}

{% block title %}Welcome - Nate and Paige's Wedding{% endblock %}

{% block style %}
#welcome {
  background: url(/images/welcome_u.png) no-repeat;
}
#welcometext {
  text-align: center;
}
{% endblock %}

{% block content %}
<div class="span-14 push-3 last">
  <img src="images/IMGP7529.jpg"/>
</div>
<div id="welcometext" class="span-14 last">
  <p>
    Welcome to our wedding website! We are excited to announce our wedding with all of you, and keep you updated as we plan for this big celebration. For those of you unwilling to look further, June 12th of 2010 is the date to block off. Check back to this site for updates and updated information. Please, don't hesitate to contact us if you need information not on this site.
  </p>
  <p>
    Thanks for your love and support,
  </p>
  <p>
    Nate and Paige
  </p>
</div>
{% endblock %}
